In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
cd /content/gdrive/MyDrive

/content/gdrive/MyDrive

In [7]:
!cd Test_Technique

In [11]:
cd /content/gdrive/MyDrive/Test_Technique

/content/gdrive/MyDrive/Test_Technique

In [13]:
!git init

Initialized empty Git repository in /content/gdrive/MyDrive/Test_Technique/.git/

In [30]:
!git config --global user.email "thanhtrungvu66@gmail.com"
!git config --global user.email "MedericTrungVU"

In [31]:
!git add .

In [32]:
!git commit -m "part one"

[master 8aaa44d] part one
 1 file changed, 1 insertion(+), 1 deletion(-)
 rewrite test_ML_DCL.ipynb (78%)

In [33]:
!git remote rm origin
!git remote add origin https://MedericTrungVU:Tramthanh6*@github.com/MedericTrungVU/revenue_forecasting_demo.git

In [28]:
!git remote -v
!git remote remove origin
!git remote add origin git@github.com:MedericTrungVU/revenue_forecasting_demo.git

origin	git@github.com:MedericTrungVU/revenue_forecasting_demo.git (fetch)
origin	git@github.com:MedericTrungVU/revenue_forecasting_demo.git (push)

In [34]:
!git push -u origin master

remote: Invalid username or password.
fatal: Authentication failed for 'https://MedericTrungVU:Tramthanh6*@github.com/MedericTrungVU/revenue_forecasting_demo.git/'

In [ ]:
!ls /content/gdrive/MyDrive/Structural_data/DCL

bu_feat.csv.gz	test.csv.gz  train.csv.gz

In [ ]:
import time
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import seaborn as sns
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.ensemble import RandomForestClassifier

In [ ]:
train_df = pd.read_csv('/content/gdrive/MyDrive/Structural_data/DCL/train.csv.gz')
test_df = pd.read_csv('/content/gdrive/MyDrive/Structural_data/DCL/test.csv.gz')
bu_df = pd.read_csv('/content/gdrive/MyDrive/Structural_data/DCL/bu_feat.csv.gz')

In [ ]:
train_df.head()

NameError: ignored

In [ ]:
test_df.head()

       day_id  but_num_business_unit  dpt_num_department
0  2017-11-25                     95                  73
1  2017-11-25                      4                 117
2  2017-11-25                    113                 127
3  2017-11-25                     93                 117
4  2017-11-25                     66                 127

In [ ]:
bu_df.head()

   but_num_business_unit  but_postcode  ...  but_region_idr_region  zod_idr_zone_dgr
0                   1609         80100  ...                     69                 4
1                   1995         95700  ...                      3                 6
2                   1800         73210  ...                     51                 4
3                    238         47550  ...                    134                10
4                    201         13546  ...                     71                10

[5 rows x 6 columns]

# **Preliminary questions & data**

In [ ]:
# Which department made the highest turnover in 2016?
train_df['day_id'] = pd.to_datetime(train_df['day_id'], format='%Y-%m-%d')
df_2016 = train_df[train_df['day_id'].dt.year == 2016]
dptMaxTurnover = df_2016.groupby('dpt_num_department')['turnover'].sum().idxmax()
print(f"department made the highest turnover est: {dptMaxTurnover}")

department made the highest turnover est: 127

In [ ]:
# What are the top 5 week numbers (1 to 53) for department 88 in 2015 in terms of turnover over all stores?
df_2015_dpt88 = train_df[(train_df['day_id'].dt.year == 2015) & (train_df['dpt_num_department'] == 88)]
df_2015_dpt88['week_of_the_year'] = df_2015_dpt88['day_id'].dt.isocalendar().week
top_5_week = df_2015_dpt88.groupby('week_of_the_year')['turnover'].sum().sort_values(ascending=False).index[:5]
print(f"the top 5 week numbers (1 to 53) for department 88 in 2015 in terms of turnover: {list(top_5_week)}")

the top 5 week numbers (1 to 53) for department 88 in 2015 in terms of turnover: [27, 37, 36, 38, 28]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# What was the top performer store in 2014?

df_2014 = train_df[train_df['day_id'].dt.year == 2014]
top_perfomer_store = df_2014.groupby('but_num_business_unit')['turnover'].sum().sort_values(ascending=False).index[0]
print('top performer store in 2014 is: {}'.format(top_perfomer_store))

top performer store in 2014 is: 121

In [ ]:
train_df.groupby?

In [ ]:
# Based on sales can you guess what kind of sport represents departement 73?
df_dpt_73 = train_df.groupby([train_df['day_id'].dt.year, 'dpt_num_department'])['turnover'].sum()

In [ ]:
df_dpt_73

day_id  dpt_num_department
2012    73                    9.970080e+03
        88                    7.864274e+04
        117                   4.236473e+05
        127                   2.482898e+05
2013    73                    7.870945e+05
        88                    5.594204e+06
        117                   6.740312e+06
        127                   1.486715e+07
2014    73                    8.819583e+05
        88                    5.004523e+06
        117                   5.697419e+06
        127                   1.500810e+07
2015    73                    9.741647e+05
        88                    5.207138e+06
        117                   6.092765e+06
        127                   1.654261e+07
2016    73                    1.974491e+06
        88                    5.696284e+06
        117                   6.535299e+06
        127                   3.378005e+07
2017    73                    7.878656e+05
        88                    4.316529e+06
        117                   4.101303e+06
        127                   1.467784e+07
Name: turnover, dtype: float64